:root {
  --dui-color-primary: #3699FF;
  --dui-color-secondary: #E4E6EF;
  --dui-color-success: #1BC5BD;
  --dui-color-danger: #F64E60;
  --dui-color-info: #8950FC;
  --dui-color-light: #fdfcfc;
  --dui-color-dark: #181C32;
  --dui-color-darker: #1a1a27;

  --dui-color-base-label-1: #adb1c7;
  --dui-color-base-label-2: #a7abc3;
  --dui-color-base-label-3: #6c7293;
  --dui-color-base-label-4: #464457;

  --dui-color-base-shape-1: #fafbff;
  --dui-color-base-shape-2: #e8ecfa;
  --dui-color-base-shape-3: #93a2dd;
  --dui-color-base-shape-4: #646c9a;

  --dui-gray-100: #F9F9F9;
  --dui-gray-200: #F1F1F4;
  --dui-gray-300: #DBDFE9;
  --dui-gray-400: #C4CADA;
  --dui-gray-500: #99A1B7;
  --dui-gray-600: #78829D;
  --dui-gray-700: #4B5675;
  --dui-gray-800: #252F4A;
  --dui-gray-900: #071437;

  --dui-color-text-dark: var(--dui-color-dark);
  --dui-color-text-link: #5d78ff;
  --dui-color-text-dark-bg: #9096b8;

  --dui-color-body-text: #495057;

  --dui-content-bg-color: #f2f3f8;
  --dui-color-body-background: #ffffff;
  --dui-color-tertiary-background: #f7f8fa;
}
