.tabbed-content {
    &__tabs {
        list-style: none;
        display: flex;
        gap: var(--dui-spacing-4);
        margin: 0;
        padding: 0;
    }

    &__tab {
        font-weight: 500;
        color: var(--dui-color-base-3);
        border-bottom: 2px solid transparent;
        display: flex;
        align-items: center;
        height: 100%;

        &--active {
            border-bottom: 2px solid #505ae2;
            color: #505ae2;
        }

        &:hover {
            color: var(--dui-color-text-link);
            border-color: var(--dui-color-text-link);
        }
    }
}