#!/usr/bin/env groovy

import jenkins.model.Jenkins
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey
import com.cloudbees.plugins.credentials.CredentialsScope

instance = Jenkins.instance
domain = Domain.global()
store = instance.getExtensionList(
  "com.cloudbees.plugins.credentials.SystemCredentialsProvider")[0].getStore()

def rawPrivateKey = """{{ private_slurpfile['content'] | b64decode }}"""

privateKey = new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource( rawPrivateKey )

sshKey = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  "{{ssh_credentials_id}}",
  "{{git_email}}",
  privateKey,
  "",
  "Github ssh credentials"
)

store.addCredentials(domain, sshKey)