.kt-menu__item {
    $block: &;

    &--horizontal {

        &#{$block}--level-1 {
            display: flex;
            align-items: center;

            @if kt-get($header-menu-skins-config, self) {
                &#{$block}--hover,
                &:hover {
                    background-color: kt-get($header-menu-skins-config, self, bg-color, hover);
                }

                &#{$block}--here {
                    background-color: kt-get($header-menu-skins-config, self, bg-color, here);
                }

                &#{$block}--open,
                &#{$block}--active {
                    background-color: kt-get($header-menu-skins-config, self, bg-color, active);
                }
            }
        }

        &#{$block}--level-2,
        &#{$block}--level-3 {
            padding: 0;
            margin: 0;

            > .kt-menu__submenu {
                top: 0;
                display: none;
                margin-top: 0;

                &.kt-menu__submenu--left {
                  right: 100%;
                  left: auto;
                }

                &.kt-menu__submenu--right {
                  left: 100%;
                  right: auto;
                }
            }
        }

        &#{$block}--icon-only {
            > .kt-menu__link {
                justify-content: center;

                > .kt-menu__link-icon {
                    justify-content: center;
                }
            }
        }

        &#{$block}--rel {
            position: relative;
        }

        @include kt-media-range(lg, xl) {
            .kt-menu__submenu {
                &.kt-menu__submenu--full,
                &.kt-menu__submenu--fixed,
                &.kt-menu__submenu--auto,
                &.kt-menu__submenu--auto.kt-menu__submenu--mimimal-desktop-wide,
                &.kt-menu__submenu--fixed-xl,
                &.kt-menu__submenu--fixed-xxl {
                  margin: 0 auto;
                  width: auto;
                  left: 20px;
                  right: 20px;
                }
              }
        }

        @each $breakpoint, $breakpoint-width in $media-breakpoints {
            @media (min-width: $breakpoint-width) {
                .kt-menu__submenu.kt-menu__submenu--fixed-#{$breakpoint} {
                    width: map-get($media-breakpoints, $breakpoint) - 60px;
                }
            }
        }
    }

    &--vertical {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        float: none;
        padding: 0;

        &#{$block}--level-1 {
            position: relative;
        }

        &#{$block}--active {
            transition: background-color 0.3s;
        }

        &#{$block}--minimized {
            background: transparent;
        }
    }
}
